.embla {
	overflow: hidden;
	width: 100%;
	max-width: 100%;
	position: relative;
}

.embla_viewport {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.embla__container {
	display: flex;
	user-select: none; /* For modern browsers */
	-webkit-user-select: none; /* For Safari and older versions of iOS Safari */
	-webkit-touch-callout: none; /* Disables callouts on long taps in iOS Safari */
	-webkit-tap-highlight-color: transparent; /* Removes tap highlight in iOS Safari */
}

.embla__slide {
	position: relative;
	min-width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

/* Controls */
.prev button,
.next button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: white;
	border: none;
	padding: 10px;
	cursor: pointer;
	z-index: 10;
}

.prev button {
	left: 10px;
}

.next button {
	right: 10px;
}

/* Media Queries for Responsive Design */
@media (max-width: 1024px) {
	.embla {
		width: 100%;
		height: auto;
		padding: 20px;
	}

	.embla__slide {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.embla__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.prev button,
	.next button {
		width: 40px;
		height: 40px;
	}

	.prev button {
		left: -5px;
	}

	.next button {
		right: -5px;
	}
}

@media (max-width: 768px) {
	.embla {
		padding: 10px;
	}

	.embla__slide {
		padding: 5px;
	}

	.prev button,
	.next button {
		width: 35px;
		height: 35px;
		padding: 5px;
	}
}

@media (max-width: 480px) {
	.embla {
		padding: 5px;
	}

	.embla__slide {
		flex-direction: column;
		padding: 0;
	}

	.prev button,
	.next button {
		width: 30px;
		height: 30px;
		padding: 5px;
	}
}
